<h2>Register Yourself Gamer!</h2>
<form action="/register" method="POST">
    <%- include('partials/errorMessage.ejs') %>
    <div>
        <label>Name</label>
        <input type="text" name="name" value="<%= user.name %>" />
    </div>
    <div>
        <label>Username</label>
        <input type="text" name="username" value="<%= user.username %>" />
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" value="<%= user.password %>" />
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
<div>
    <a href="/login">
        <button>Login</button>
    </a>
</div>